html, body{
  margin:0;padding:0;height:100%;
}
#window-container {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.26) , rgba(0, 26, 255, 0.281));
  width: calc(100vw - 4px);
  height: calc(100vh - 4px);
  border: black 2px solid;
}
#container {
  background-image: linear-gradient(45deg,#0058ca94, #13d4e2d7, #b424ad23);
  height: 85vh;
  margin: 5vw 5vw 5vw 5vw;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 1vw;
  margin-block-start: 0;
  padding-top: 50px;
  font-family: 'Ruda', sans-serif;
}
.red {
  color: rgb(236, 0, 0);
}
.blue {
  color: blue;
}
.green {
  color: green;
}
#button-container {
  display: flex;
  justify-content: space-around;
  margin: 6vw 40px 6vw 40px;
}
button{
  width: 15vw;
  height: 6vw;
  font-size: 18px;
  background-color: #248a68;
  color: white;
  border-radius: 24px;
}
button:hover{
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.199);
  background-color: #04503a;
  border: 1px solid #c6c6c6;
  text-decoration: none;
  transition: all .3s ease;
  color: #d9f3ed;
}
button:focus{
  outline: none;
}
button:active{
  border: 1px solid #300a0a;
  transition: all 0s ease;
  background-color: #7bcfb3;
  color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.199);
}
#scoreboard{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
#user-score{
  border: 2px black solid;
  width: 50%;
  font-size: 24px;
  padding: 4px;
}
#computer-score{
  border: 2px rgb(32, 15, 61) solid;
  width: 50%;
  font-size: 24px;
  padding: 4px;
}
.point{
  float: right;
  margin-top: 4px;
  margin-left: 3px;
}
.point1{
  color: blue;
}
.point2{
  color: green;
}
.point3{
  color: orange;
}
.point4{
  color: red;
}
.point5{
  color: purple;
}
#instructions {
  color: #0211229f;
}
#current-round{
  display: flex;
  justify-content: space-between;
  margin: 8vh 8vw 4vh 8vw;
  font-size: 30px;
  text-align: center;
}
#vs {
  margin: auto;
}
.round-images{
  width: 15vw;
  height: 15vw;
  border: 4px solid #2998a71e;
  padding: 10px;
}
#round-description{
  text-align: center;
  font-size: 20px;
}